extends layout

block content
  img#draw_something(src="/images/b.png", alt="brush")
  div#controls
    a#dl(download="Canvas.png", title="Download") Download
    a#undo(href="#", title="Undo", class="disabled") Undo
    a#redo(href="#", title="Redo", class="disabled") Redo
  #ui
    #users
    canvas#canvas(height="500px", width="500px")
