extends layout

block content
  h1 Draw Something
  #circle
  div#controls
    a#dl(download="Canvas.png", href="#", title="Download") Download
    a#undo(disabled="disabled") Undo
    a#redo(disabled="disabled") Redo
  #users
  canvas#canvas(height="5000", width="5000")
