doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/deep-diff.js")
    script(src="/javascripts/application_nosync.js")
  body
    block content