body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow: hidden
a
  color: #00B7FF
  
#circle
  border-radius: 50%
  width: 200px
  height: 200px
  background: blue
  cursor: pointer
  display: none

#canvas
  border: 1px solid #888
  position: absolute
  top: 0
  left: 0

#users
  float: left
  
.user
  display: block
  height: 10px
  width: 10px
  
#controls, h1
  position: relative
  z-index: 5
  
#controls
  position: absolute
  z-index: 5
  top: 20px
  left: 20px

#controls a
  float: left
  display: block
  text-decoration: none
  border: none
  color: #fff
  padding: 10px
  background: #ddd
  border-radius: 20px 0 0 20px
	-moz-border-radius: 20px 0 0 20px
	-webkit-border-radius: 20px 0 0 20px
	margin: 0
	cursor: pointer !important

#controls a:hover
  background: #ccc

#controls #undo
  border-radius: 0px
	-moz-border-radius: 0px
	-webkit-border-radius: 0px

#controls #redo
  border-radius: 0 20px 20px 0
	-moz-border-radius: 0 20px 20px 0
	-webkit-border-radius: 0 20px 20px 0